li.list-group-item.flex-column.align-items-start.episode
    .d-flex.w-100.justify-content-between 
        h5.mb-1=episode.title
    p.mb-1=episode.description 
    small=episode.createdAt
    br
    small=episode.link