extends layout.pug

block content
    .container.mt-3 
        .row 
            .col-sm-12 
                h1 Help page 
        .row 
            .col-sm-12 
                p Coming soon...
    .container 
        nav
            a(href="/")
                button.btn.btn-outline-secondary Back