extends layout.pug

block content
    .container.mt-3 
        .row 
            .col-sm-12 
                h1 Help page 
        .row 
            .col-sm-12 
                h2 Creating your podcast
                img.img-fluid(src="https://user-images.githubusercontent.com/4499581/163211803-8b47eded-19e8-4194-8aab-05fd30d886b7.png")
                p Be careful at this step. Your podcast RSS feed will be based upon the name of your podcast. If you change the name later that will alter the unique address of your RSS feed URL and your followers will no longer receive your new episodes. Choose a name and stick to it.
        .row
            .col-sm-12 
                h2 Add Episodes 
                p Once you have your episode mastered as an mp3 you are ready to create your episode, add show notes (that can include links and images) and upload your audio file.
    .container 
        nav
            a(href="/")
                button.btn.btn-outline-secondary Back