extends layout.pug

block content
    section.container 
        .row.py-3 
            .col-sm-12.col-md-8.d-flex.align-items-center
                h1.flex-fill Edit Podcast 
                a.ml-2.inline-block(href=`/podcasts/${podcast.id}`)
                    button(type="button").btn.btn-outline-secondary Back
    section.container
        include podcast_edit_podcast.pug
    section.container
        .row.pb-3
            .col-sm-12.col-md-8.d-flex.align-items-center
                h1.flex-fill Edit Episodes
                a.ml-2.inline-block(href=`/podcasts/${podcast.id}`)
                    button(type="button").btn.btn-outline-secondary Back
        .row
            if podcast.Episodes.length 
                .col-sm-12.col-md-8
                    each episode in podcast.Episodes.reverse()
                        include podcast_edit_episode.pug
    script(src="/js/podcasts.js")