.jumbotron {
    padding: 2rem;
}
.jumbotron img {
    position: absolute;
    bottom:0;
    left: 0;
    height: 8rem;
}
.form-text {
    opacity: 0.5;
    font-style: italic;
}
a.card {
    text-decoration: none;
    color: rgba(0,0,0,0.8)
}
a.card:hover {
    color: rgba(0,0,0,1);
}
.card-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 22rem;
}
#podcasts .card {
    height: 32rem;
}
.podcast .jumbotron img {
    right: 0;
    left: 1rem;
}
.btn-no-style {
    border:solid 0px;
    background-color:transparent;
}
.btn-fixed-width {
    width: 16rem;
}
.modal-body {
    overflow: hidden;
}
.text-tiny {
    font-family: monospace;
    white-space: nowrap;
    padding-right: .5rem;
    animation-name: ticker;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes ticker {
    0% {transform: translate(300px)}
    100% {transform: translate(-900px)}
}

.published::after, .not-published::after {
    content: '🟠';
    text-align: center;
    line-height: 2.5rem;
    width: 5rem;
    height: 2.5rem;
    border-radius: 6px;
    margin-left: 1rem;
    background-color: #f8f9fa;
}
.published::after {
    content: '🟢';
}
@media screen and (min-width: 576px){}
@media screen and (min-width: 768px){
    .podcast .jumbotron img {
        right: 0;
        left: 6.5rem;
    }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    .podcast .jumbotron img {
        height: 14rem;
    }    
}