.jumbotron img {
    position: absolute;
    bottom:0;
    left: 0;
    height: 8rem;
}
.form-text {
    opacity: 0.5;
    font-style: italic;
}
a.card {
    text-decoration: none;
    color: rgba(0,0,0,0.8)
}
a.card:hover {
    color: rgba(0,0,0,1);
}
.card-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 22rem;
}
.podcast .jumbotron img {
    width: 6rem;
    left:0;
}
.podcast .jumbotron .icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}
.icon {
    background-color: #FF7C66;
    color: white;
    border-radius: 50%;
    padding: .25rem;
    box-shadow: 0px .5px 1px 0px rgba(0,0,0,0.4);
}
.btn-no-style {
    border:solid 0px;
    background-color:transparent;
}
@media screen and (min-width: 30rem){
    .podcast .jumbotron img {
        width: 12rem;
        left: 2rem;
    }    
}
@media screen and (min-width: 50rem){
    .podcast .jumbotron img {
        width: 24rem;
        left: 6rem;
    }    
}